@font-face {
    font-family: 'Stokoe Tempo';
    src: url('../fonts/stt_____-webfont.woff2') format('woff2'),
         url('../fonts/stt_____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
 margin: 0;
}

#threed-div {
    background-color: #000;
    height: 400px;
    width: 600px;
    border: 1px solid black;
    margin: 1em;
    padding: 0px;
    position: static; /* fixed or static */
    top: 1em;
    left: 1em;
}

#container {
    display: inline-block;
}

#display-div {
    float: left;
}

#control-div {
    float: left;
}

#form-div {
    border: thin solid #999;
    padding: 1em;
}

#ascsto-output {
    text-align: center;
    font-family: "Stokoe Tempo", serif;
}

#picker-div td {
    text-align: center;
}

.stokoe {
    font-family: "Stokoe Tempo", serif;
}

.picker-letter {
    font-size: 20px;
    line-height: 1.4em;
    margin: 0.5em auto;
    min-width: 0.6em;
    padding: 0.5em 0.25em;
    width: 1em;
}

.picker-letter:hover {
    background-color: #FF7F10;
}